@page "/edituser/{id}"
@inject HttpClient Http
@inject NavigationManager navigationManager
@using UserWebCRUD.Shared;

<h3>Editar Usuario</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="FirstName">Nombre</label>
                <input form="FirstName" class="form-control" @bind="@user.FirstName" />
            </div>
            <br />
            <div class="form-group">
                <label for="LastName">Apellido</label>
                <input form="LastName" class="form-control" @bind="@user.LastName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@(() => UpdateUser(user.UserId))" value="Guardar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />

            </div>
        </div>
    </div>
</form>
@code {
    [Parameter]
    public string id { get; set; }

    UserInfo user = new UserInfo();

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<UserInfo>($"api/UserInfoes/{id}");
    }

    protected async Task UpdateUser(int id)
    {
        await Http.PutAsJsonAsync($"api/UserInfoes/{id}", user);
        navigationManager.NavigateTo("userlist");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("userlist");
    }
}
